.input-number__range-container {
    display: flex;
    gap: 6%;
    order: 2;
    position: relative;
}

.input-number__range {
    padding-left: 3.1rem;
    position: relative;
    width: 47%;
}

.input-number__range-container::after {
    content: '-';
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.input-number__symbol{
    position: absolute;
    font-size: 1.1rem;
    padding: .6rem;
    z-index: 100;
    background-color: var(--bg-six-color-white);
    top: 0;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    height: 100%;
    left: 0;
}
.input-number__symbol:nth-child(2) {
    left: 53%;
}