.module-options__info-wrapper {
    width: 4em;
    min-width: 4em;
    overflow: hidden;
    border-radius: 1em;
    background-color: var(--bg-module-options-info);
    transition: width .2s, min-width .2s;
    position: relative;
    z-index: 50;
    height: 100%;
    padding: .5em;
    padding-right: 0;
    color: var(--color-module-options-info);
    cursor:pointer
}
.module-options__info-wrapper::after{
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
    background-image: url(/src/assets/dblclick.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.module-options__info-wrapper.left {
    box-shadow: .5em 0em .5em 0em var(--shadow-15),
        0em .8em .8em 0em var(--shadow-05);
}

.module-options__info-wrapper.right {
    box-shadow: -.5em 0em .5em 0em var(--shadow-15),
        .8em .8em .8em 0em var(--shadow-05);
}

.module-options__info-wrapper.extend {
    width: 30em;
    min-width: 30em;
}

.module-options__info-wrapper.left p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    font-size: 1.2em;
    text-align: center;
    width: 10em;
    user-select: none;
}

.module-options__info-wrapper.right p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    font-size: 1.2em;
    text-align: center;
    width: 10em;
    user-select: none;
}

.module-options__info-wrapper.extend p {
    display: none;
}

.module-options__info-wrapper.extend .module-options__info {
    display: block;
}








.module-options__info {
    padding: .3em 0;
    padding-right: .5em;
    height: 100%;
    overflow-y: auto;
    border-radius: 1em;
    display: none;
}

.module-options__info::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.module-options__info-row {
    white-space: nowrap;
    width: 100%;
    padding: .3em;
    background-color: var(--bg-module-options-info-row);
    border-radius: 1em;
    margin-bottom: .3em;
    font-family: 'Roboto', sans-serif;
}

.module-options__info-row span {
    font-size: 1.1em;
}

.module-options__info-row :first-child {
    width: 9em;
    min-width: 9em;
    display: inline-block;
    background-color: var(--bg-module-options-info-row-title);
    padding: .3em .8em;
    color: var(--color-module-options-info-row-title);
    border-radius: .8em;
    margin-right: .4em;
    font-weight: 500;
    position: relative;
}

.module-options__info-row :first-child::after {
    content: ':';
    display: block;
    position: absolute;
    right: .5em;
    top: .2em;
}

.module-options__info-row :last-child {
    width: calc(100% - 9.4em);
    min-width: calc(100% - 9.4em);
    display: inline-block;
    background-color: var(--bg-module-options-info-row-content);
    padding: .3em .8em;
    color: var(--color-module-options-info-row-content);
    border-radius: .8em;
}


.module-options__info-table-title {
    width: 100%;
    padding: .3em;
    background-color: var(--bg-module-options-info-row);
    border-radius: 1em;
    margin-bottom: .3em;
    font-family: 'Roboto', sans-serif;
}

.module-options__info-table-title span {
    width: 100%;
    min-width: 100%;
    display: inline-block;
    background-color: var(--bg-module-options-info-row-title);
    padding: .3em .8em;
    color: var(--color-module-options-info-row-title);
    border-radius: .8em;
    font-weight: 500;
    font-size: 1.1em;
    text-align: center;
}

.module-options__info-table {
    width: 29em;
    min-width: 29em;
    padding: .3em;
    padding-bottom: .2em;
    background-color: var(--bg-module-options-info-row);
    border-radius: 1em;
    font-family: 'Roboto', sans-serif;
}

.module-options__info .table-container {
    padding: 0;
    box-shadow: none;
    border-radius: .9em;
}

.module-options__info .table__thead th {
    padding: .3em .8em;
    font-size: 1em;
}

.module-options__info .table__tbody td {
    padding: .3em .8em;
    font-size: 1em;
}

/*  */

.module-options__info .message-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.3rem;
    font-weight: 600;
}