.inputs-row{
    margin-top: .7rem;
    padding-bottom: .2rem;
    display: flex;
    align-items: end;
}

.inputs-row > :first-child{
    padding-left: 0;
}

.inputs-row > :last-child{
    padding-right: 0;
}