.input-select-icon{
    background-color: var(--bg-three-color-white);
    font-size: 1.3rem;
    padding: .3rem;
    position: absolute;
    right: 1.4rem;
    top: 2.4rem;
}

.input-select option {
    background-color: var(--bg-three-color-white);
}
