.search__input {
    position: relative;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--text-alternative-eleven-color-white);
}

.search-icon__container {
    background-color: transparent;
    position: absolute;
    z-index: 100;
    right: 1.8rem;
    top: .5rem;
}
.search-icon__container:hover {
    cursor: pointer;
}
.search-icon {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--text-alternative-eleven-color-white);
}