.simple-loading {
	height: 33.408rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loaderRectangle {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 3px;
}

.loaderRectangle div {
	width: 10px;
	height: 16px;
	animation: 0.6s ease-in-out infinite;
	background: #183153;
	box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.loaderRectangle div:nth-child(1) {
	animation-name: rectangleOneAnim;
	animation-delay: .1s;
}

@keyframes rectangleOneAnim {
	0% {
		height: 15px;
	}

	40% {
		height: 30px;
	}

	100% {
		height: 15px;
	}
}

.loaderRectangle div:nth-child(2) {
	animation-name: rectangleTwoAnim;
	animation-delay: .2s;
}

@keyframes rectangleTwoAnim {
	0% {
		height: 15px;
	}

	40% {
		height: 40px;
	}

	100% {
		height: 15px;
	}
}

.loaderRectangle div:nth-child(3) {
	animation-name: rectangleThreeAnim;
	animation-delay: .3s;
}

@keyframes rectangleThreeAnim {
	0% {
		height: 15px;
	}

	40% {
		height: 50px;
	}

	100% {
		height: 15px;
	}
}

.loaderRectangle div:nth-child(4) {
	animation-name: rectangleFourAnim;
	animation-delay: .4s;
}

@keyframes rectangleFourAnim {
	0% {
		height: 15px;
	}

	40% {
		height: 40px;
	}

	100% {
		height: 15px;
	}
}

.loaderRectangle div:nth-child(5) {
	animation-name: rectangleFiveAnim;
	animation-delay: .5s;
}

@keyframes rectangleFiveAnim {
	0% {
		height: 15px;
	}

	40% {
		height: 30px;
	}

	100% {
		height: 15px;
	}
}