.warning-container{
}

.warning-container p{
    color: var(--text-five-color-black);
    font-size: 1.2rem;
    font-weight: 500;
    padding: .5rem;
}
.warning-container p:first-child{
    height: 7rem;
    min-height: 7rem;
    max-height: 7rem;
}
.warning-container p:last-child{
    text-align: center;
    font-size: 1.35rem;
}