.inputs-row {
	display: flex;
	align-items: end;
	flex-wrap: wrap;
	gap: 1rem 0rem;
	color: var(--color-inputs);
	margin: 0 -1.2rem;
}

@media screen and (max-width: 640px) {
	.inputs-row {
		gap: 0.5rem 0rem !important;
	}
}
