.table-container{
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--bg-three-color-white);
    box-shadow: .8rem .8rem .8rem 0rem var(--shadow-05);
}

.table{
    border-collapse: collapse;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.table__thead tr{
    /* border-bottom: 2px solid var(--bg-five-color-white); */
}

.table__thead th{
    padding: .9rem 1.1rem;
    background-color: var(--bg-four-color-white);
    text-align: start;
    font-size: 1.2rem;
    font-weight: 500;
}
.table__thead th:first-of-type{
    border-bottom-left-radius: 1rem ;
    border-top-left-radius: 1rem;
}
.table__thead th:last-of-type{
    border-bottom-right-radius: 1rem ;
    border-top-right-radius: 1rem;
}

.table__tbody tr{
    border-bottom: 2px solid var(--bg-five-color-white);
}

.table__tbody td{
    padding: .9rem 1.1rem;
    font-size: 1.1rem;
}
