.main-header{
    height: 6rem;
    background-color: var(--bg-header);
    color: var(--color-header-option);
    padding: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    z-index: var(--z-index-100);
}

.main-header__options{
    display: flex;
    gap: 1rem;
}
.main-header__option{
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    border: var(--border-header-option);
    box-shadow: 0px 0px 20px 0px var(--shadow-10);
    cursor: pointer;
}
.main-header__option i{
    font-size: 1.5rem;
    color: var(--color-header-option);
}
