.module-options__container {
	display: flex;
	height: 19.7em;
	max-height: 19.7em;
	font-size: 16px;
}

.module-options__main {
	height: 19.7em;
	width: 100%;
	flex-grow: 1;
	z-index: 40;
}

.module-options {
	position: relative;
	width: 19.7em;
	padding-bottom: 100%;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%) rotate(-90deg);
}

.module-options > div {
	display: flex;
	justify-content: start;
	flex-direction: column;
	gap: 1.7em;
	padding: 2em 5.2em 2em 2.5em;
	overflow-x: auto;
	position: absolute;
	background-color: var(--bg-module);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.module-options > div::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.module-options-sub::after {
	content: '';
	flex-grow: 1;
}

.module-options-sub::before {
	content: '';
	flex-grow: 1;
}
