.table-container {
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--bg-table-container);
    box-shadow: var(--shadow-table-container);
    color: var(--color-table);
}

.table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}


.table__tbody tr {
    border-bottom: var(--border-table-tr);
    position: relative
}

.table__tbody tr.active {
    background-color: var(--bg-table-tr-active) !important;
    color: var(--color-table-tr-hover);
}

.table__tbody tr td:first-of-type {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.table__tbody tr td:last-of-type {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.table__tbody tr:hover {
    cursor: pointer;
    background-color: var(--bg-table-tr-hover);
    color: var(--color-table-tr-hover);
}

.table__tbody td {
    padding: 0.8rem 1.1rem;
    font-size: 1.1rem;
}