.main-header{
    height: 6rem;
    background-color: var(--bg-three-color-white);
    padding: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    z-index: var(--z-index-50);
}

.main-header__options{
    display: flex;
    gap: 1rem;
}
.main-header__option{
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    border: 2px solid var(--bg-five-color-white);
    box-shadow: 0px 0px 20px 0px var(--shadow-10);
}
.main-header__option i{
    font-size: 1.5rem;
    color: var(--text-eight-color-black);
}

.main-header__perfil{
    display: flex;
    gap: 1rem;

}
.main-header__perfil-img{
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 15px 1px var(--shadow-40);
}

.main-header__perfil-name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.main-header__perfil-name :first-of-type{
    font-size: 1.2rem;
    font-weight: 600;
}

.main-header__perfil-name :last-of-type{
    font-size: 1rem;
    font-weight: 500;
}