.module-container {
	background-color: var(--bg-module);
	padding: 2rem;
	flex-grow: 1;
	overflow-y: scroll;
	position: relative;
}

.body__shadow {
	height: 0.5px;
	background-color: var(--bg-module);
	box-shadow: 0px 0px 20px 1px var(--shadow-40);
	z-index: var(--z-index-90);
	margin-left: 5%;
	margin-right: 5%;
}

@media screen and (max-width: 640px) {
	.body__shadow {
		box-shadow: 0px 0px 10px 0.5px var(--shadow-40);
	}
}