/* Variation of work by @mrhyddenn for Radios  https://uiverse.io/mrhyddenn/slippery-bear-64*/
.checkbox__label-container {
	display: flex;
	gap: 1rem;
	width: 100%;
	height: 2.6rem;
	max-height: 2.6rem;
	min-height: 2.6rem;
	cursor: pointer;
	padding-left: 0.5rem;
	align-items: center;
}

.checkbox__label-icon {
	cursor: pointer;
	position: relative;
	width: 1.6rem;
	height: 1.6rem;
}

.checkbox__label-icon::before {
	content: '';
	display: block;
	width: 2.6rem;
	height: 2.6rem;
	position: absolute;
	top: -0.5rem;
	left: -0.5rem;
	border-radius: 0.6rem;
	box-shadow: var(--shadow-inputs);
	background-color: var(--bg-inputs);
}

.checkbox__label-icon svg {
	position: relative;
	z-index: 1;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: var(--color-inputs);
	stroke-width: 2;
}

.checkbox__label-icon svg path {
	stroke-dasharray: 60;
	stroke-dashoffset: 0;
}
.checkbox__label-icon svg polyline {
	stroke-dasharray: 22;
	stroke-dashoffset: 66;
}
.checkbox-custom:checked
	+ .checkbox__label-container
	.checkbox__label-icon
	svg
	path {
	stroke-dashoffset: 60;
	transition: all 0.3s linear;
}
.checkbox-custom:checked
	+ .checkbox__label-container
	.checkbox__label-icon
	svg
	polyline {
	stroke-dashoffset: 42;
	transition: all 0.2s linear;
	transition-delay: 0.15s;
}
.checkbox__label-text {
	font-size: 1.2rem;
	font-weight: 500;
	padding: 0.2rem 1rem;
}

/* -------------- */
.checkbox-custom:checked + .checkbox__label-container {
	color: var(--color-inputs-focus-label);
}
