.shadow-card__container {
	width: 30rem;
	height: 50rem;
	background: rgb(0, 0, 0);
	border: 2px solid rgb(255, 255, 255);
	border-radius: 20px;
	display: inline-block;
}
.shadow-card {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.shadow-card:hover {
	animation: cardAnimacion 1.4s;
	box-shadow: 0 0 0 2rem rgba(255, 255, 255, 0);
}
@keyframes cardAnimacion {
	0% {
		box-shadow: 0 0 0 0 #959595;
	}
}
