/* THEME */
:root {
    /* box-shadow  sombras */
    --shadow-100: rgba(0, 0, 0, 1);
    --shadow-95: rgba(0, 0, 0, 0.95);
    --shadow-90: rgba(0, 0, 0, 0.9);
    --shadow-85: rgba(0, 0, 0, 0.85);
    --shadow-80: rgba(0, 0, 0, 0.8);
    --shadow-75: rgba(0, 0, 0, 0.75);
    --shadow-70: rgba(0, 0, 0, 0.7);
    --shadow-65: rgba(0, 0, 0, 0.65);
    --shadow-60: rgba(0, 0, 0, 0.6);
    --shadow-55: rgba(0, 0, 0, 0.55);
    --shadow-50: rgba(0, 0, 0, 0.5);
    --shadow-45: rgba(0, 0, 0, 0.45);
    --shadow-40: rgba(0, 0, 0, 0.4);
    --shadow-35: rgba(0, 0, 0, 0.35);
    --shadow-30: rgba(0, 0, 0, 0.3);
    --shadow-25: rgba(0, 0, 0, 0.25);
    --shadow-20: rgba(0, 0, 0, 0.2);
    --shadow-15: rgba(0, 0, 0, 0.15);
    --shadow-10: rgba(0, 0, 0, 0.10);
    --shadow-09: rgba(0, 0, 0, 0.09);
    --shadow-08: rgba(0, 0, 0, 0.08);
    --shadow-07: rgba(0, 0, 0, 0.07);
    --shadow-06: rgba(0, 0, 0, 0.06);
    --shadow-05: rgba(0, 0, 0, 0.05);
    --shadow-04: rgba(0, 0, 0, 0.04);
    --shadow-03: rgba(0, 0, 0, 0.03);
    --shadow-02: rgba(0, 0, 0, 0.02);

    /* border-radius */
    --border-one-radius: .1rem;
    --border-two-radius: .2rem;
    --border-three-radius: .3rem;
    --border-four-radius: .4rem;
    --border-five-radius: .5rem;
    --border-six-radius: .6rem;
    --border-seven-radius: .7rem;
    --border-eight-radius: .8rem;
    --border-nine-radius: .9rem;
    --border-ten-radius: 1rem;

    /* z-index */
    --z-index--1: -1;
    --z-index-0: 0;
    --z-index-10: 10;
    --z-index-20: 20;
    --z-index-30: 30;
    --z-index-40: 40;
    --z-index-50: 50;
    --z-index-60: 60;
    --z-index-70: 70;
    --z-index-80: 80;
    --z-index-90: 90;
    --z-index-100: 100;
    --z-index-110: 110;
    --z-index-120: 120;
    --z-index-130: 130;
    --z-index-140: 140;
    --z-index-150: 150;
    --z-index-160: 160;
    --z-index-170: 170;
    --z-index-180: 180;
    --z-index-190: 190;
    --z-index-200: 200;
    --z-index-210: 210;

    /* ======== START - MODE LIGHT THEME ======== */
    /* Sidebar.css */
    --bg-sidebar: rgb(215, 215, 215);
    --bg-shadow-sidebar: rgb(195, 195, 195);
    --shadow-shadow-sidebar: 0px 0px 10px 1px var(--shadow-40);
    --bg-icon-open-sidebar: rgb(20, 20, 20);
    --color-icon-open-sidebar: rgb(225, 225, 225);
    /*  */
    --bg-sidebar-footer-button: rgb(40, 40, 40);
    --color-sidebar-footer-button: rgb(230, 230, 230);
    --shadow-sidebar-footer-button: 4px 4px 10px 0px var(--shadow-60),
        -2px -2px 4px 0px rgb(240, 240, 240),
        inset -2px -2px 2px 0px rgb(20, 20, 20),
        inset 2px 2px 2px 0px rgb(75, 75, 75);
    /*  */
    --bg-change-theme: rgb(215, 215, 215);
    --bg-button-change-theme: linear-gradient(315deg, #000000 0%, #414141 70%);
    --shadow-change-theme1: -4px -4px 8px 0px rgb(245, 245, 245),
        4px 4px 10px 0px var(--shadow-45),
        inset -2px -2px 2px 0px var(--shadow-25),
        inset 2px 2px 2px 0px rgb(245, 245, 245);
    --shadow-change-theme2: 2px 3px 2px 0px rgb(245, 245, 245),
        -2px -2px 3px 0px var(--shadow-25),
        inset 5px 5px 10px 2px var(--shadow-20);

    /* SidebarOption.css */
    --bg-sidebar-option: rgb(215, 215, 215);
    --color-sidebar-option: rgb(70, 70, 70);
    --bg-sidebar-option-hover: rgb(225, 225, 225);
    --shadow-sidebar-option-hover: -4px -4px 8px 0px rgb(230, 230, 230),
        4px 4px 10px 0px var(--shadow-40),
        inset -2px -2px 2px 0px var(--shadow-15),
        inset 2px 2px 3px 0px rgb(235, 235, 235);

    --bg-sidebar-option-active: rgb(40, 40, 40);
    --color-sidebar-option-active: rgb(220, 220, 220);
    --shadow-sidebar-option-active: 4px 4px 13px 0px var(--shadow-50),
        -3px -3px 4px 0px rgb(230, 230, 230),
        inset -3px -3px 5px 0px rgb(20, 20, 20),
        inset 3px 3px 5px 0px rgb(65, 65, 65);
    /*  */

    /* SidebarSubOptions.css*/
    --bg-line-suboption: rgb(140, 140, 140);

    --bg-min-suboption: rgb(225, 225, 225);
    --shadow-min-suboption: 0rem 0rem 1rem 0rem var(--shadow-40);
    --bg-min-line-subption: rgb(140, 140, 140);

    --color-toltip-sidebar-option: rgb(20, 20, 20);

    /* SidebarSubOption.css */
    --color-suboption: rgb(100, 100, 100);
    --color-icon-suboption: rgb(140, 140, 140);
    --color-min-icon-suboption: rgb(140, 140, 140);
    --shadow-sidebar-suboption-hover: -4px -4px 4px 0px rgb(225, 225, 225),
        4px 4px 5px 0px var(--shadow-20),
        inset -2px -2px 2px 0px var(--shadow-15),
        inset 2px 2px 3px 0px rgb(235, 235, 235);

    --bg-sidebar-suboption-active: rgb(40, 40, 40);
    --color-sidebar-suboption-active: rgb(220, 220, 220);
    --shadow-sidebar-suboption-active: 4px 4px 5px 0px var(--shadow-40),
        -3px -3px 4px 0px rgb(230, 230, 230),
        inset -3px -3px 5px 0px rgb(20, 20, 20),
        inset 3px 3px 5px 0px rgb(65, 65, 65);


    /* Header.css */
    --bg-header: rgb(215, 215, 215);

    --border-header-option: 2px solid rgb(225, 225, 225);
    --color-header-option: rgb(70, 70, 70);

    /* ModuleContainer.css */
    --bg-module: rgb(205, 205, 205);


    /* ModuleOptions.css */
    --bg-module-options-info: rgb(215, 215, 215);
    --color-module-options-info: rgb(70, 70, 70);
    --bg-module-options-info-row: rgb(185, 185, 185);
    --bg-module-options-info-row-title: rgb(40, 40, 40);
    --color-module-options-info-row-title: rgb(230, 230, 230);
    --bg-module-options-info-row-content: rgb(215, 215, 215);
    --color-module-options-info-row-content: rgb(30, 30, 30);

    /* ModuleOption.css */
    --bg-module-option-wrapper: rgb(215, 215, 215);
    --shadow-module-option-wrapper: .3rem .3rem .3rem 0rem var(--shadow-40),
        inset -.15rem -.15rem .1rem 0rem rgb(180, 180, 180),
        inset .15rem .15rem .1rem 0rem rgb(240, 240, 240);

    --bg-module-option: rgb(215, 215, 215);
    --color-module-option: rgb(70, 70, 70);
    --color-module-option-active: rgb(40, 40, 40);
    --shadow-module-option: inset .2rem .2rem .6rem 0rem var(--shadow-50),
        .15rem .15rem .1rem 0rem rgb(240, 240, 240),
        -.15rem -.15rem .1rem 0rem rgb(180, 180, 180);

    --shadow-module-option-active: inset .6rem .6rem 1.5rem 0rem var(--shadow-50),
        .15rem .15rem .1rem 0rem rgb(240, 240, 240),
        -.15rem -.15rem .1rem 0rem rgb(180, 180, 180);

    /* InputsRow.css */
    --color-inputs: rgb(40, 40, 40);

    /* InputContainer.css */
    --bg-inputs: rgb(215, 215, 215);
    --shadow-inputs: .5rem .6rem .3rem 0rem var(--shadow-02);
    --bg-inputs-focus: rgb(228, 228, 228);
    --color-inputs-focus-label: rgb(10, 10, 10);

    /* InputMoneyRange.css */
    --input-money-symbol: rgb(190, 190, 190);

    /* Table.css */
    --bg-table-container: rgb(215, 215, 215);
    --shadow-table-container: .8rem .8rem .8rem 0rem var(--shadow-05);
    --color-table: rgb(40, 40, 40);
    --bg-table-th: rgb(205, 205, 205);
    --border-table-tr: 2px solid rgb(185, 185, 185);
    --bg-table-tr-hover: rgb(40, 40, 40);
    --bg-table-tr-active: rgb(40, 40, 40);
    --color-table-tr-hover: rgb(240, 240, 240);

    /* Paginacion.css */
    --bg-paginacion-info: rgb(215, 215, 215);
    --color-paginacion-info: rgb(40, 40, 40);
    --shadow-paginacion-info: .8rem .8rem .8rem 0rem var(--shadow-05);
    /* PaginationButton.css */
    --bg-pagination-button: rgb(215, 215, 215);
    --color-pagination-button: rgb(40, 40, 40);
    --shadow-pagination-button: .3rem .3rem .8rem 0rem var(--shadow-08);

    --bg-pagination-button-active: rgb(40, 40, 40);
    --color-pagination-button-active: rgb(220, 220, 220);
    --shadow-pagination-button-active: .3rem .3rem .8rem 0rem var(--shadow-15);

    /* ModuleTitle.css */
    --color-module-title: rgb(20, 20, 20);

    /* Button */
    --color-button-predeterminado: rgb(30, 30, 30);
    --color-button-white: rgb(220, 220, 220);

    /* Modal.css */
    --bg-modal: rgb(20, 20, 20);
    --color-modal: rgb(170, 170, 170);

    --bg-shadow-modal: rgb(10, 10, 10);
    --shadow-shadow-modal: -20px 0px 15px 2px var(--shadow-05),
        20px 0px 15px 2px var(--shadow-05);

    --bg-modal-header: rgb(10, 10, 10);
    --bg-modal-header-close: rgb(35, 35, 35);

    --bg-modal-footer: rgb(10, 10, 10);

    /*  */
    --bg-form-tab: rgb(10, 10, 10);
    --bg-form-tab-header: rgb(170, 170, 170);

    --shadow-form-tab-header: 0rem .8rem .8rem 0rem var(--shadow-100);
    --color-form-tab-header: rgb(10, 10, 10);
    --border-hr: 2px solid rgb(30, 30, 30);

    /* DocumentTemplate.css */
    --bg-document: rgb(210, 210, 210);
    --color-document: rgb(5, 5, 5);
    --shadow-document: -.5rem -.5rem 1.8rem 0 rgb(50, 50, 50),
        1.5rem 1.5rem 1rem 0rem var(--shadow-100),
        inset .3rem .3rem .2rem 0 rgb(230, 230, 230),
        inset -.3rem -.3rem .2rem 0 rgb(150, 150, 150);

    /* CreditSchedule.css */
    --border-document-table: 3px solid rgb(180, 180, 180);

    /* InputForDocument.css */
    --bg-input-document: rgb(200, 200, 200);
    --color-input-document: rgb(60, 60, 60);

    /*  Export Data.css */
    --bg-export: rgb(0, 0, 0);
    --color-export: rgb(180, 180, 180);
    --shadow-export: .6rem .6rem .6rem 0rem var(--shadow-50);

    --bg-export-hover: rgb(180, 180, 180);
    --color-export-hover: rgb(0, 0, 0);
    --shadow-export-hover: .6rem .6rem .6rem 0rem var(--shadow-80);

    /* ==================================================================== */
    /* ==================================================================== */
    /* ==================================================================== */
    /* ======== START - MODE DARK THEME ======== */

    /* Sidebar.css */
    --bg-sidebar: rgb(25, 25, 25);
    --bg-shadow-sidebar: rgb(25, 25, 25);
    --shadow-shadow-sidebar: 0px 0px 10px 1px var(--shadow-40);
    --bg-icon-open-sidebar: rgb(60, 60, 60);
    --color-icon-open-sidebar: rgb(0, 0, 0);
    /*  */
    --bg-sidebar-footer-button: rgb(60, 60, 60);
    --color-sidebar-footer-button: rgb(150, 150, 150);
    --shadow-sidebar-footer-button: 4px 4px 10px 0px var(--shadow-65),
        -2px -2px 4px 0px rgb(40, 40, 40),
        inset -2px -2px 2px 0px rgb(40, 40, 40),
        inset 2px 2px 2px 0px rgb(70, 70, 70);
    /*  */
    --bg-change-theme: rgb(60, 60, 60);
    --bg-button-change-theme: linear-gradient(315deg, #000000 0%, #414141 70%);
    --shadow-change-theme1: -4px -4px 8px 0px rgb(40, 40, 40),
        4px 4px 10px 0px var(--shadow-65),
        inset -2px -2px 2px 0px rgb(40, 40, 40),
        inset 2px 2px 2px 0px rgb(70, 70, 70);
    --shadow-change-theme2: 2px 3px 2px 0px rgb(70, 70, 70),
        -2px -2px 3px 0px var(--shadow-65),
        inset 5px 5px 10px 2px var(--shadow-60);


    /* SidebarOption.css */
    --bg-sidebar-option: rgb(25, 25, 25);
    --color-sidebar-option: rgb(150, 150, 150);
    --bg-sidebar-option-hover: rgb(30, 30, 30);
    --shadow-sidebar-option-hover: -4px -4px 8px 0px rgb(30, 30, 30),
        4px 4px 10px 0px var(--shadow-65),
        inset -3px -3px 3px 0px rgb(10, 10, 10),
        inset 3px 3px 3px 0px rgb(40, 40, 40);

    --bg-sidebar-option-active: rgb(80, 80, 80);
    --color-sidebar-option-active: rgb(0, 0, 0);
    --shadow-sidebar-option-active: 4px 4px 13px 0px var(--shadow-90),
        -3px -3px 4px 0px rgb(40, 40, 40),
        inset -3px -3px 5px 0px rgb(60, 60, 60),
        inset 3px 3px 5px 0px rgb(90, 90, 90);
    /*  */

    /* SidebarSubOptions.css*/
    --bg-line-suboption: rgb(60, 60, 60);

    --bg-min-suboption: red;
    --shadow-min-suboption: 0rem 0rem 1rem 0rem re;
    --bg-min-line-subption: red;
    
    --color-toltip-sidebar-option: rgb(20, 20, 20);

    /* SidebarSubOption.css */
    --color-suboption: rgb(150, 150, 150);
    --color-icon-suboption: rgb(60, 60, 60);
    --color-min-icon-suboption: red;
    --shadow-sidebar-suboption-hover: -4px -4px 4px 0px rgb(30, 30, 30),
        4px 4px 5px 0px var(--shadow-65),
        inset -2px -2px 2px 0px rgb(10, 10, 10),
        inset 2px 2px 3px 0px rgb(30, 30, 30);

    --bg-sidebar-suboption-active: rgb(60, 60, 60);
    --color-sidebar-suboption-active: rgb(220, 220, 220);
    --shadow-sidebar-suboption-active: 4px 4px 5px 0px var(--shadow-90),
        -3px -3px 4px 0px rgb(30, 30, 30),
        inset -3px -3px 5px 0px rgb(40, 40, 40),
        inset 3px 3px 5px 0px rgb(70, 70, 70);


    /* Header.css */
    --bg-header: rgb(25, 25, 25);

    --border-header-option: 2px solid rgb(35, 35, 35);
    --color-header-option: rgb(150, 150, 150);

    /* ModuleContainer.css */
    --bg-module: rgb(10, 10, 10);


    /* ModuleOptions.css */
    --bg-module-options-info: rgb(25, 25, 25);
    --color-module-options-info: rgb(150, 150, 150);
    --bg-module-options-info-row: rgb(5, 5, 5);
    --bg-module-options-info-row-title: rgb(15, 15, 15);
    --color-module-options-info-row-title: rgb(150, 150, 150);
    --bg-module-options-info-row-content: rgb(100, 100, 100);
    --color-module-options-info-row-content: rgb(0, 0, 0);

    /* ModuleOption.css */
    --bg-module-option-wrapper: rgb(25, 25, 25);
    --shadow-module-option-wrapper: .3rem .3rem .3rem 0rem var(--shadow-65),
        inset -.15rem -.15rem .1rem 0rem rgb(10, 10, 10),
        inset .15rem .15rem .1rem 0rem rgb(30, 30, 30);

    --bg-module-option: rgb(25, 25, 25);
    --color-module-option: rgb(150, 150, 150);
    --color-module-option-active: rgb(220, 220, 220);
    --shadow-module-option: inset .2rem .2rem .6rem 0rem var(--shadow-65),
        .15rem .15rem .1rem 0rem rgb(30, 30, 30),
        -.15rem -.15rem .1rem 0rem rgb(10, 10, 10);

    --shadow-module-option-active: inset .6rem .6rem 1.5rem 0rem var(--shadow-100),
        .15rem .15rem .1rem 0rem rgb(30, 30, 30),
        -.15rem -.15rem .1rem 0rem rgb(10, 10, 10);

    /* InputsRow.css */
    --color-inputs: rgb(150, 150, 150);

    /* InputContainer.css */
    --bg-inputs: rgb(25, 25, 25);
    --shadow-inputs: .5rem .6rem .3rem 0rem var(--shadow-02);
    --bg-inputs-focus: rgb(30, 30, 30);
    --color-inputs-focus-label: rgb(220, 220, 220);

    /* InputMoneyRange.css */
    --input-money-symbol: rgb(0, 0, 0);

    /* Table.css */
    --bg-table-container: rgb(25, 25, 25);
    --shadow-table-container: .8rem .8rem .8rem 0rem var(--shadow-05);
    --color-table: rgb(150, 150, 150);
    --bg-table-th: rgb(10, 10, 10);
    --border-table-tr: 2px solid rgb(50, 50, 50);
    --bg-table-tr-hover: rgb(60, 60, 60);
    --bg-table-tr-active: rgb(60, 60, 60);
    --color-table-tr-hover: rgb(240, 240, 240);

    /* Paginacion.css */
    --bg-paginacion-info: rgb(25, 25, 25);
    --color-paginacion-info: rgb(150, 150, 150);
    --shadow-paginacion-info: .8rem .8rem .8rem 0rem var(--shadow-40);
    /* PaginationButton.css */
    --bg-pagination-button: rgb(25, 25, 25);
    --color-pagination-button: rgb(150, 150, 150);
    --shadow-pagination-button: .3rem .3rem .8rem 0rem var(--shadow-60);

    --bg-pagination-button-active: rgb(60, 60, 60);
    --color-pagination-button-active: rgb(230, 230, 230);
    --shadow-pagination-button-active: .3rem .3rem .8rem 0rem var(--shadow-60);

    /* ModuleTitle.css */
    --color-module-title: rgb(20, 20, 20);

    /* Button */
    --color-button-predeterminado: rgb(30, 30, 30);
    --color-button-white: rgb(240, 240, 240);

    /* Modal.css */
    --bg-modal: rgb(20, 20, 20);
    --color-modal: rgb(170, 170, 170);

    --bg-shadow-modal: rgb(10, 10, 10);
    --shadow-shadow-modal: -20px 0px 15px 2px var(--shadow-05),
        20px 0px 15px 2px var(--shadow-05);

    --bg-modal-header: rgb(10, 10, 10);
    --bg-modal-header-close: rgb(35, 35, 35);

    --bg-modal-footer: rgb(10, 10, 10);

    /*  */
    --bg-form-tab: rgb(10, 10, 10);
    --bg-form-tab-header: rgb(170, 170, 170);

    --shadow-form-tab-header: 0rem .8rem .8rem 0rem var(--shadow-100);
    --color-form-tab-header: rgb(10, 10, 10);
    --border-hr: 2px solid rgb(30, 30, 30);

    /* DocumentTemplate.css */
    --bg-document: rgb(210, 210, 210);
    --color-document: rgb(5, 5, 5);
    --shadow-document: -.5rem -.5rem 1.8rem 0 rgb(50, 50, 50),
        1.5rem 1.5rem 1rem 0rem var(--shadow-100),
        inset .3rem .3rem .2rem 0 rgb(230, 230, 230),
        inset -.3rem -.3rem .2rem 0 rgb(150, 150, 150);

    /* CreditSchedule.css */
    --border-document-table: 3px solid rgb(180, 180, 180);

    /* InputForDocument.css */
    --bg-input-document: rgb(200, 200, 200);
    --color-input-document: rgb(60, 60, 60);

    /*  Export Data.css */
    --bg-export: rgb(0, 0, 0);
    --color-export: rgb(180, 180, 180);
    --shadow-export: .6rem .6rem .6rem 0rem var(--shadow-50);

    --bg-export-hover: rgb(180, 180, 180);
    --color-export-hover: rgb(0, 0, 0);
    --shadow-export-hover: .6rem .6rem .6rem 0rem var(--shadow-80);


    /* ==================================================================== */
    /* ======== START - MODE DARK DARK PLUS+++ THEME ======== */

    /* Sidebar.css */
    --bg-sidebar: rgb(0, 0, 0);
    --bg-shadow-sidebar: rgb(50, 50, 50);
    --shadow-shadow-sidebar: none;
    --bg-icon-open-sidebar: rgb(30, 30, 30);
    --color-icon-open-sidebar: rgb(170, 170, 170);
    /*  */
    --bg-sidebar-footer-button: rgb(30, 30, 30);
    --color-sidebar-footer-button: rgb(170, 170, 170);
    --shadow-sidebar-footer-button: -2px -2px 4px 0px rgb(10, 10, 10),
        inset -3px -3px 3px 0px rgb(10, 10, 10),
        inset 3px 3px 3px 0px rgb(40, 40, 40);
    /*  */
    --bg-change-theme: rgb(30, 30, 30);
    --bg-button-change-theme: linear-gradient(315deg, #000000 0%, #414141 70%);
    --shadow-change-theme1: -4px -4px 10px 0px rgb(10, 10, 10),
        inset -2px -2px 2px 0px rgb(10, 10, 10),
        inset 2px 2px 2px 0px rgb(40, 40, 40);
    --shadow-change-theme2: 2px 3px 2px 0px rgb(40, 40, 40),
        -2px -2px 3px 0px var(--shadow-85),
        inset 5px 5px 10px 2px var(--shadow-90);

    /* SidebarOption.css */
    --bg-sidebar-option: rgb(0, 0, 0);
    --color-sidebar-option: rgb(170, 170, 170);
    --bg-sidebar-option-hover: rgb(10, 10, 10);
    --shadow-sidebar-option-hover: -4px -4px 8px 0px rgb(10, 10, 10),
        inset -3px -3px 3px 0px rgb(3, 3, 3),
        inset 3px 3px 3px 0px rgb(20, 20, 20);

    --bg-sidebar-option-active: rgb(30, 30, 30);
    --color-sidebar-option-active: rgb(170, 170, 170);
    --shadow-sidebar-option-active: -3px -3px 4px 0px rgb(10, 10, 10),
        inset -3px -3px 5px 0px rgb(10, 10, 10),
        inset 3px 3px 5px 0px rgb(40, 40, 40);
    /*  */

    /* SidebarSubOptions.css*/
    --bg-line-suboption: rgb(30, 30, 30);

    --bg-min-suboption: rgb(10, 10, 10);
    --shadow-min-suboption: 0rem 0rem 1rem 0rem var(--shadow-100);
    --bg-min-line-subption: rgb(0, 0, 0);

    --color-toltip-sidebar-option: rgb(170, 170, 170);

    /* SidebarSubOption.css */
    --color-suboption: rgb(170, 170, 170);
    --color-icon-suboption: rgb(30, 30, 30);
    --color-min-icon-suboption: rgb(0, 0, 0);
    --shadow-sidebar-suboption-hover: -4px -4px 4px 0px rgb(10, 10, 10),
        inset 2px 2px 3px 0px rgb(3, 3, 3);

    --bg-sidebar-suboption-active: rgb(30, 30, 30);
    --color-sidebar-suboption-active: rgb(170, 170, 170);
    --shadow-sidebar-suboption-active: -3px -3px 4px 0px rgb(10, 10, 10),
        inset -3px -3px 5px 0px rgb(10, 10, 10),
        inset 3px 3px 5px 0px rgb(40, 40, 40);


    /* Header.css */
    --bg-header: rgb(0, 0, 0);

    --border-header-option: 2px solid rgb(20, 20, 20);
    --color-header-option: rgb(170, 170, 170);

    /* ModuleContainer.css */
    --bg-module: rgb(12, 12, 12);


    /* ModuleOptions.css */
    --bg-module-options-info: rgb(0, 0, 0);
    --color-module-options-info: rgb(170, 170, 170);
    --bg-module-options-info-row: rgb(15, 15, 15);
    --bg-module-options-info-row-title: rgb(0, 0, 0);
    --color-module-options-info-row-title: rgb(170, 170, 170);
    --bg-module-options-info-row-content: rgb(40, 40, 40);
    --color-module-options-info-row-content: rgb(170, 170, 170);

    /* ModuleOption.css */
    --bg-module-option-wrapper: rgb(0, 0, 0);
    --shadow-module-option-wrapper: .3rem .3rem .3rem 0rem var(--shadow-80),
        inset -.15rem -.15rem .1rem 0rem rgb(0, 0, 0),
        inset .15rem .15rem .1rem 0rem rgb(10, 10, 10);

    --bg-module-option: rgb(0, 0, 0);
    --color-module-option: rgb(170, 170, 170);
    --color-module-option-active: rgb(200, 200, 200);
    --shadow-module-option: inset .2rem .2rem .6rem 0rem var(--shadow-80),
        .15rem .15rem .1rem 0rem rgb(12, 12, 12),
        -.15rem -.15rem .1rem 0rem rgb(0, 0, 0);

    --shadow-module-option-active: inset .6rem .6rem 1.5rem 0rem var(--shadow-100),
        .15rem .15rem .1rem 0rem rgb(12, 12, 12),
        -.15rem -.15rem .1rem 0rem rgb(0, 0, 0);

    /* InputsRow.css */
    --color-inputs: rgb(170, 170, 170);

    /* InputContainer.css */
    --bg-inputs: rgb(0, 0, 0);
    --shadow-inputs: .5rem .5rem .5rem 0rem var(--shadow-40);
    --bg-inputs-focus: rgb(0, 0, 0);
    --color-inputs-focus-label: rgb(200, 200, 200);

    /* InputMoneyRange.css */
    --input-money-symbol: rgb(25, 25, 25);

    /* Table.css */
    --bg-table-container: rgb(0, 0, 0);
    --shadow-table-container: .8rem .8rem .8rem 0rem var(--shadow-40);
    --color-table: rgb(170, 170, 170);
    --bg-table-th: rgb(10, 10, 10);
    --border-table-tr: 2px solid rgb(30, 30, 30);
    --bg-table-tr-hover: rgb(30, 30, 30);
    --bg-table-tr-active: rgb(30, 30, 30);
    --color-table-tr-hover: rgb(240, 240, 240);

    /* Paginacion.css */
    --bg-paginacion-info: rgb(0, 0, 0);
    --color-paginacion-info: rgb(170, 170, 170);
    --shadow-paginacion-info: .8rem .8rem .8rem 0rem var(--shadow-50);
    /* PaginationButton.css */
    --bg-pagination-button: rgb(0, 0, 0);
    --color-pagination-button: rgb(170, 170, 170);
    --shadow-pagination-button: .3rem .3rem .8rem 0rem var(--shadow-50);

    --bg-pagination-button-active: rgb(30, 30, 30);
    --color-pagination-button-active: rgb(230, 230, 230);
    --shadow-pagination-button-active: .3rem .3rem .8rem 0rem var(--shadow-50);

    /* ModuleTitle.css */
    --color-module-title: rgb(170, 170, 170);

    /* Button */
    --color-button-predeterminado: rgb(20, 20, 20);
    --color-button-white: rgb(200, 200, 200);

    /* Modal.css */
    --bg-modal: rgb(20, 20, 20);
    --color-modal: rgb(170, 170, 170);

    --bg-shadow-modal: rgb(10, 10, 10);
    --shadow-shadow-modal: -20px 0px 15px 2px var(--shadow-05),
        20px 0px 15px 2px var(--shadow-05);

    --bg-modal-header: rgb(10, 10, 10);
    --bg-modal-header-close: rgb(35, 35, 35);

    --bg-modal-footer: rgb(10, 10, 10);

    /*  */
    --bg-form-tab: rgb(10, 10, 10);
    --bg-form-tab-header: rgb(170, 170, 170);

    --shadow-form-tab-header: 0rem .8rem .8rem 0rem var(--shadow-100);
    --color-form-tab-header: rgb(10, 10, 10);
    --border-hr: 2px solid rgb(30, 30, 30);

    /* DocumentTemplate.css */
    --bg-document: rgb(210, 210, 210);
    --color-document: rgb(5, 5, 5);
    --shadow-document: -.5rem -.5rem 1.8rem 0 rgb(50, 50, 50),
        1.5rem 1.5rem 1rem 0rem var(--shadow-100),
        inset .3rem .3rem .2rem 0 rgb(230, 230, 230),
        inset -.3rem -.3rem .2rem 0 rgb(150, 150, 150);

    /* CreditSchedule.css */
    --border-document-table: 3px solid rgb(180, 180, 180);

    /* InputForDocument.css */
    --bg-input-document: rgb(200, 200, 200);
    --color-input-document: rgb(60, 60, 60);

    /*  Export Data.css */
    --bg-export: rgb(0, 0, 0);
    --color-export: rgb(180, 180, 180);
    --shadow-export: .6rem .6rem .6rem 0rem var(--shadow-50);

    --bg-export-hover: rgb(180, 180, 180);
    --color-export-hover: rgb(0, 0, 0);
    --shadow-export-hover: .6rem .6rem .6rem 0rem var(--shadow-80);

    /* ========================================= */
    --color-txt-00: rgb(0, 0, 0);
    --color-txt-10: rgb(10, 10, 10);
    --color-txt-20: rgb(20, 20, 20);
    --color-txt-30: rgb(30, 30, 30);
    --color-txt-40: rgb(40, 40, 40);
    --color-txt-50: rgb(50, 50, 50);
    --color-txt-60: rgb(60, 60, 60);
    --color-txt-70: rgb(70, 70, 70);
    --color-txt-80: rgb(80, 80, 80);
    --color-txt-90: rgb(90, 90, 90);
    --color-txt-100: rgb(100, 100, 100);
    --color-txt-110: rgb(110, 110, 110);
    --color-txt-120: rgb(120, 120, 120);

    --color-alt-txt-255: rgb(255, 255, 255);
    --color-alt-txt-245: rgb(245, 245, 245);
    --color-alt-txt-235: rgb(235, 235, 235);
    --color-alt-txt-225: rgb(225, 225, 225);
    --color-alt-txt-215: rgb(215, 215, 215);
    --color-alt-txt-205: rgb(205, 205, 205);
    --color-alt-txt-195: rgb(195, 195, 195);
    --color-alt-txt-185: rgb(185, 185, 185);
    --color-alt-txt-175: rgb(175, 175, 175);
    --color-alt-txt-165: rgb(165, 165, 165);
    --color-alt-txt-155: rgb(155, 155, 155);
    --color-alt-txt-145: rgb(145, 145, 145);
    --color-alt-txt-135: rgb(135, 135, 135);
}


/* BASE */
html {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-twelve-color-white);
    border-radius: 2px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    min-height: 100vh;
    background-color: var(--bg-three-color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-size: 1rem;
}


a {
    text-decoration: none;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*  */
#root {
    display: flex;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.content-app {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.d-none {
    display: none !important;
}


/* ===========================================00 */
/* RESPONSIVE */
@media screen and (max-width: 3000px) {
    html {
        font-size: 18px;
    }

}

@media screen and (max-width: 2560px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 1536px) {
    html {
        font-size: 15px;
    }

    .pagination-container {
        flex-direction: column;
        justify-content: start;
        gap: 1rem;
    }

}

@media screen and (max-width: 1280px) {

    /* minimizar sidebar */
    .main-sidebar {
        width: 6.4rem;
        min-width: 6.4rem;
    }

    .main-sidebar .hide {
        display: none;
    }

    .main-sidebar .sidebar-footer--center {
        padding: 0;
    }

    .main-sidebar .theme-container {
        width: 6rem;
        min-width: 6rem;
        transform: scale(.85);
    }

    .arrow-sidebar {
        display: none !important;
    }

    /* module options */
    .module-options__container {
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }

    /* paginacion */
    .pagination {
        display: flex;
        gap: .3rem;
    }

    .pagination-button {
        font-size: 1rem;
        width: 2.5rem;
    }

    /* module options  */
    .main-title {
        font-size: 2rem;

    }

    /* module options */
    .module-options__container {
        font-size: 13px;
    }

}

@media screen and (max-width: 850px) {
    html {
        font-size: 13px;
    }

    /* module options */
    .module-options__container {
        font-size: 12px;
    }
}

@media screen and (max-width: 640px) {
    .main-sidebar {
        width: 5rem;
        min-width: 5rem;
    }

    .main-sidebar .hide {
        display: none;
    }

    .main-sidebar .sidebar-footer--center {
        padding: 0;
        height: 5rem;
    }

    .main-sidebar .theme-container {
        width: 6rem;
        min-width: 6rem;
        transform: scale(.65);
        left: -0.5rem;
    }

    .arrow-sidebar {
        display: none !important;
    }

    /* sidebar header */
    .sidebar-header {
        padding: .5rem;
        height: 5rem;
    }

    /* Sidebar body */
    .sidebar-body {
        padding: 0 .5rem;
        height: calc(100vh - 10.125rem);
    }


    /* main header*/
    .main-header {
        height: 5rem;
    }

    .main-header__options {
        display: none;
    }

    .main-header__perfil-img {
        width: 3rem;
        height: 3rem;
    }

    /* module container -- body */
    .module-container {
        padding: 1rem;
    }

    /* paginacion */
    .pagination-button {
        width: 1.8rem;
    }

    /* module options  */
    .module-options__info-wrapper {
        display: none;
    }

    .module-options__container {
        height: 16.7em;
        max-height: 16.7em;
        font-size: 10px;
    }

    .module-options__main {
        height: 16.7em;
    }

    .module-options {
        width: 16.7em;
    }

    .module-options>div {
        padding: 2em 3.7em 2em 1em;
    }


    /* la wea pa que no se seleccione */
    *,
    *::after,
    *::before {
        -webkit-tap-highlight-color: transparent;
        tap-highlight-color: transparent;
    }

    button:focus {
        outline: none;
        -webkit-tap-highlight-color: transparent;
        tap-highlight-color: transparent;
    }

    /* modal */
    .modal-container {
        padding: 2rem;
    }

    /* filter */
    .main-filter {
        padding: .2rem 0;
    }

}

@media screen and (max-width: 450px) {
    html {
        font-size: 12.5px;
    }

    /* module options  */
    .module-options__container {
        font-size: 9px;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    html {
        font-size: 11px;
    }
}

/* ======== END ======== */