.module-option__container {
    width: 12em;
    min-width: 12em;
    height: 12em;
    min-height: 12em;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .8em .8em 1.5em 0em var(--shadow-15);
    transform: rotate(90deg);
}

.module-option__wrapper {
    width: 10.5em;
    height: 10.5em;
    background-color: var(--bg-module-option-wrapper);
    box-shadow: var(--shadow-module-option-wrapper);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-size: inherit;
}

.module-option {
    width: 9.5em;
    height: 9.5em;
    background-color: var(--bg-module-option);
    box-shadow: var(--shadow-module-option);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5em;
}

.module-option__wrapper:active .module-option {
    box-shadow: var(--shadow-module-option-active);
}

.module-option i {
    font-size: 2.5em;
    color: var(--color-module-option);
}

.module-option p {
    font-size: 1.3em;
    font-weight: 500;
    color: var(--color-module-option);
    font-family: 'Roboto', sans-serif;
}

.module-option__wrapper:active .module-option i {
    color: var(--color-module-option-active);
}

.module-option__wrapper:active .module-option p {
    color: var(--color-module-option-active);
}

.turquesa {
    background-color: rgba(0, 93, 100, 0.3);
}

.gris {
    background-color: rgba(87, 87, 87, 0.3);
}

.celeste {
    background-color: rgb(17, 80, 131, 0.3);
}

.ambar {
    background-color: rgb(105, 79, 0, 0.3);
}

.rojo {
    background-color: rgb(109, 0, 0, 0.3);
}

.verde {
    background-color: rgb(0, 75, 4, 0.3);
}

.morado {
    background-color: rgb(51, 0, 80, 0.3);
}

.azul {
    background-color: rgb(0, 21, 92, 0.3);
}

@media screen and (max-width: 640px) {
    .module-option__container {
        box-shadow: 0.4em 0.4em 0.6em 0em var(--shadow-30);
    }
}
