.module-options__container {
    display: flex;
    height: 19.7rem;
    max-height: 19.7rem;
}

.module-options__info-wrapper {
    width: 4rem;
    min-width: 4rem;
    overflow: hidden;
    border-radius: 1rem;
    background-color: var(--bg-three-color-white);
    transition: width .2s, min-width .2s;
    position: relative;
    z-index: 50;
    height: 100%;
    padding: .5rem;
    padding-right: 0;
}
.module-options__info-wrapper.left {
    box-shadow: .5rem 0rem .5rem 0rem var(--shadow-15),
        0rem .8rem .8rem 0rem var(--shadow-05);
}
.module-options__info-wrapper.right {
    box-shadow: -.5rem 0rem .5rem 0rem var(--shadow-15),
        .8rem .8rem .8rem 0rem var(--shadow-05);
}
.module-options__info-wrapper.extend {
    width: 30rem;
    min-width: 30rem;
}
.module-options__info-wrapper.left p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    font-size: 1.2rem;
    text-align: center;
    width: 10rem;
    user-select: none;
}
.module-options__info-wrapper.right p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    font-size: 1.2rem;
    text-align: center;
    width: 10rem;
    user-select: none;
}
.module-options__info-wrapper.extend p {
    display: none;
}
.module-options__info-wrapper.extend .module-options__info {
    display: block;
}


.module-options__info{
    padding: .3rem 0;
    padding-right: .5rem;
    height: 100%;
    overflow-y: auto;
    border-radius: 1rem;
    display: none;
}
.module-options__info::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.module-options__info-row {
    white-space: nowrap;
    width: 100%;
    padding: .3rem;
    background-color: var(--bg-five-color-white);
    border-radius: 1rem;
    margin-bottom: .3rem;
    font-family: 'Roboto', sans-serif;
}

.module-options__info-row span {
    font-size: 1.1rem;
}

.module-options__info-row :first-child {
    width: 9rem;
    min-width: 9rem;
    display: inline-block;
    background-color: rgb(80, 80, 80);
    padding: .3rem .8rem;
    color: white;
    border-radius: .8rem;
    margin-right: .4rem;
    font-weight: 500;
    position: relative;
}

.module-options__info-row :first-child::after {
    content: ':';
    display: block;
    position: absolute;
    right: .5rem;
    top: .2rem;
}

.module-options__info-row :last-child {
    width: 19rem;
    min-width: 19rem;
    display: inline-block;
    background-color: var(--bg-three-color-white);
    padding: .3rem .8rem;
    color: black;
    border-radius: .8rem;
}


.module-options__info-table-title{
    width: 100%;
    padding: .3rem;
    background-color: var(--bg-five-color-white);
    border-radius: 1rem;
    margin-bottom: .3rem;
    font-family: 'Roboto', sans-serif;
}
.module-options__info-table-title span{
    width: 29rem;
    min-width: 29rem;
    display: inline-block;
    background-color: rgb(80, 80, 80);
    padding: .3rem .8rem;
    color: white;
    border-radius: .8rem;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
}
.module-options__info-table{
    width: 29rem;
    min-width: 29rem;
    padding: .3rem;
    padding-bottom: .2rem;
    background-color: var(--bg-five-color-white);
    border-radius: 1rem;
    font-family: 'Roboto', sans-serif;
}
.module-options__info .table-container{
    padding: 0;
    box-shadow: none;
    border-radius: .9rem;
}

.module-options__info .table__thead th{
    padding: .3rem .8rem;
    font-size: 1rem;
}

.module-options__info .table__tbody td{
    padding: .3rem .8rem;
    font-size: 1rem;
}

/*  */

.module-options {
    height: 19.7rem;
    width: 100%;
    position: relative;
    flex-grow: 1;
    background-color: var(--bg-four-color-white);
    z-index: 40;
}

.module-options>div {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 1.7rem;
    padding: 2rem 5.2rem 2rem 2.5rem;
    overflow-x: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 19.7rem;
    transition: height .2s;
    height: 40rem;
    background-color: var(--bg-four-color-white);
    transform: translateY(-50%) translateX(-50%) rotate(-90deg);
}

.module-options>div::-webkit-scrollbar {
    width: 0;
    height: 0;
}