.xd {
    background-color: var(--bg-four-color-white);
    padding: 2rem;
    flex-grow: 1;
}

.main-title{
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
}


.body__shadow {
    height: .1px;
    background-color: var(--bg-three-color-white);
    box-shadow: 0px 0px 20px 1px var(--shadow-40);
    z-index: var(--z-index-40);
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.body__shadow:last-of-type {
    box-shadow: 0px 0px 20px 1px var(--shadow-90);
}
